_site/
.sass-cache/
.jekyll-metadata
Gemfile.lock
*.gem
.jekyll-cache
*.code-workspace
Gemfile*

# Docker related files
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.yaml
.docker/

# VS Code files
.vscode/
.history/
*.code-workspace
.settings/
.project
.classpath
.factorypath
*.launch
*.sublime-workspace
*.sublime-project
.DS_Store